.linyer {
  font-family: "linyer" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\3486";
}

.icon-delect:before {
  content: "\e619";
}

.icon-bianji2:before {
  content: "\e61a";
}

.icon-bianji1:before {
  content: "\e66e";
}

.icon-gou:before {
  content: "\e623";
}

.icon-home:before {
  content: "\e638";
}

.icon-setting:before {
  content: "\e63f";
}

.icon-userplus:before {
  content: "\e641";
}

.icon-users:before {
  content: "\e642";
}

.icon-zanting:before {
  content: "\e621";
}

.icon-xgpwd4:before {
  content: "\e6a8";
}

.icon-xiugai:before {
  content: "\e69c";
}

.icon-xgpwd3:before {
  content: "\e63c";
}

.icon-xgpwd2:before {
  content: "\e608";
}

.icon-xgpwd1:before {
  content: "\e657";
}

.icon-stop:before {
  content: "\e61d";
}

.icon-add-no:before {
  content: "\e693";
}

.icon-close-no:before {
  content: "\e695";
}

.icon-true-no:before {
  content: "\e696";
}

.icon-time:before {
  content: "\e69d";
}

.icon-time-active:before {
  content: "\e69e";
}

.icon-warning-active:before {
  content: "\e6a1";
}

.icon-warning:before {
  content: "\e6a2";
}

.icon-download-active:before {
  content: "\e6ab";
}

.icon-download:before {
  content: "\e6ac";
}

.icon-bottom:before {
  content: "\e600";
}

.icon-right:before {
  content: "\e601";
}

.icon-left:before {
  content: "\e602";
}

.icon-top:before {
  content: "\e603";
}

.icon-tool:before {
  content: "\e604";
}

.icon-help:before {
  content: "\e606";
}

.icon-more:before {
  content: "\e607";
}

.icon-msg:before {
  content: "\e609";
}

.icon-msg-active:before {
  content: "\e60a";
}

.icon-user:before {
  content: "\e60b";
}

.icon-user-active:before {
  content: "\e60c";
}

.icon-email:before {
  content: "\e60d";
}

.icon-email-active:before {
  content: "\e60e";
}

.icon-mini:before {
  content: "\e60f";
}

.icon-mini-active:before {
  content: "\e610";
}

.icon-add:before {
  content: "\e611";
}

.icon-add-active:before {
  content: "\e612";
}

.icon-close-active:before {
  content: "\e613";
}

.icon-close:before {
  content: "\e614";
}

.icon-love:before {
  content: "\e616";
}

.icon-love-active:before {
  content: "\e617";
}

.icon-edit:before {
  content: "\e618";
}

.icon-zhiding:before {
  content: "\e61b";
}

.icon-qiyong:before {
  content: "\e605";
}

.icon-gift:before {
  content: "\e61c";
}

.icon-qrcode:before {
  content: "\e61e";
}

.icon-hot:before {
  content: "\e646";
}

.icon-alipay:before {
  content: "\e61f";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-check:before {
  content: "\e622";
}

.icon-arrow-top:before {
  content: "\e628";
}

.icon-arrow-bottom:before {
  content: "\e629";
}

.icon-arrow-left:before {
  content: "\e62a";
}

.icon-arrow-right:before {
  content: "\e62b";
}

.icon-triangle-bottom:before {
  content: "\e62c";
}

.icon-triangle-left:before {
  content: "\e62d";
}

.icon-triangle-right:before {
  content: "\e62e";
}

.icon-dollar:before {
  content: "\e631";
}

.icon-rmb:before {
  content: "\e634";
}

.icon-triangle-top:before {
  content: "\e822";
}

.icon-star-active:before {
  content: "\e6c9";
}

.icon-star:before {
  content: "\e6ca";
}

.icon-zan:before {
  content: "\e823";
}

.icon-zan-active:before {
  content: "\e615";
}
@charset "UTF-8";
/*margin*/
.mgauto {
  margin-left: auto !important;
  margin-right: auto !important; }

.mgt-5 {
  margin-top: 5px; }

.mgt-10 {
  margin-top: 10px; }

.mgt-15 {
  margin-top: 15px; }

.mgt-20 {
  margin-top: 20px; }

.mgt-25 {
  margin-top: 25px; }

.mgt-30 {
  margin-top: 30px; }

.mgt-35 {
  margin-top: 35px; }

.mgt-40 {
  margin-top: 40px; }

.mgt-45 {
  margin-top: 45px; }

.mgt-50 {
  margin-top: 50px; }

.mgt-55 {
  margin-top: 55px; }

.mgt-60 {
  margin-top: 60px; }

.mgb-5 {
  margin-bottom: 5px; }

.mgb-10 {
  margin-bottom: 10px; }

.mgb-15 {
  margin-bottom: 15px; }

.mgb-20 {
  margin-bottom: 20px; }

.mgb-25 {
  margin-bottom: 25px; }

.mgb-30 {
  margin-bottom: 30px; }

.mgb-35 {
  margin-bottom: 35px; }

.mgb-40 {
  margin-bottom: 40px; }

.mgb-45 {
  margin-bottom: 45px; }

.mgb-50 {
  margin-bottom: 50px; }

.mgb-55 {
  margin-bottom: 55px; }

.mgb-60 {
  margin-bottom: 60px; }

.mgl-5 {
  margin-left: 5px; }

.mgl-10 {
  margin-left: 10px; }

.mgl-15 {
  margin-left: 15px; }

.mgl-20 {
  margin-left: 20px; }

.mgl-25 {
  margin-left: 25px; }

.mgl-30 {
  margin-left: 30px; }

.mgl-35 {
  margin-left: 35px; }

.mgl-40 {
  margin-left: 40px; }

.mgl-45 {
  margin-left: 45px; }

.mgl-50 {
  margin-left: 50px; }

.mgl-55 {
  margin-left: 55px; }

.mgl-60 {
  margin-left: 60px; }

.mgr-5 {
  margin-right: 5px; }

.mgr-10 {
  margin-right: 10px; }

.mgr-15 {
  margin-right: 15px; }

.mgr-20 {
  margin-right: 20px; }

.mgr-25 {
  margin-right: 25px; }

.mgr-30 {
  margin-right: 30px; }

.mgr-35 {
  margin-right: 35px; }

.mgr-40 {
  margin-right: 40px; }

.mgr-45 {
  margin-right: 45px; }

.mgr-50 {
  margin-right: 50px; }

.mgr-55 {
  margin-right: 55px; }

.mgr-60 {
  margin-right: 60px; }

.pdt-5 {
  padding-top: 5px; }

.pdt-10 {
  padding-top: 10px; }

.pdt-15 {
  padding-top: 15px; }

.pdt-20 {
  padding-top: 20px; }

.pdt-25 {
  padding-top: 25px; }

.pdt-30 {
  padding-top: 30px; }

.pdt-35 {
  padding-top: 35px; }

.pdt-40 {
  padding-top: 40px; }

.pdt-45 {
  padding-top: 45px; }

.pdt-50 {
  padding-top: 50px; }

.pdb-5 {
  padding-bottom: 5px; }

.pdb-10 {
  padding-bottom: 10px; }

.pdb-15 {
  padding-bottom: 15px; }

.pdb-20 {
  padding-bottom: 20px; }

.pdb-25 {
  padding-bottom: 25px; }

.pdb-30 {
  padding-bottom: 30px; }

.pdl-5 {
  padding-left: 5px; }

.pdl-10 {
  padding-left: 10px; }

.pdl-15 {
  padding-left: 15px; }

.pdl-20 {
  padding-left: 20px; }

.pdl-25 {
  padding-left: 25px; }

.pdl-30 {
  padding-left: 30px; }

.pdr-5 {
  padding-right: 5px; }

.pdr-10 {
  padding-right: 10px; }

.pdr-15 {
  padding-right: 15px; }

.pdr-20 {
  padding-right: 20px; }

.pdr-25 {
  padding-right: 25px; }

.pdr-30 {
  padding-right: 30px; }

.pd-5 {
  padding: 5px; }

.pd-10 {
  padding: 10px; }

.pd-15 {
  padding: 15px; }

.pd-20 {
  padding: 20px; }

.pd-25 {
  padding: 25px; }

.pd-30 {
  padding: 30px; }

.pd-40 {
  padding: 40px; }

.pd-50 {
  padding: 50px; }

.bdc {
  border: 1px solid #ccc; }

.bdd {
  border: 1px solid #ddd; }

.bde {
  border: 1px solid #eee; }

.blc {
  border-left: 1px solid #ccc; }

.brc {
  border-right: 1px solid #ccc; }

.btc {
  border-top: 1px solid #ccc; }

.bbc {
  border-bottom: 1px solid #ccc; }

.bld {
  border-left: 1px solid #ddd; }

.brd {
  border-right: 1px solid #ddd; }

.btd {
  border-top: 1px solid #ddd; }

.bbd {
  border-bottom: 1px solid #ddd; }

.ble {
  border-left: 1px solid #eee; }

.bre {
  border-right: 1px solid #eee; }

.bte {
  border-top: 1px solid #eee; }

.bbe {
  border-right: 1px solid #eee; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.fs-16 {
  font-size: 16px; }

.fs-18 {
  font-size: 18px; }

.fs-20 {
  font-size: 20px; }

.fs-22 {
  font-size: 22px; }

.fs-24 {
  font-size: 24px; }

.fs-26 {
  font-size: 26px; }

.fs-28 {
  font-size: 28px; }

.fs-30 {
  font-size: 30px; }

.fs-32 {
  font-size: 32px; }

.fs-36 {
  font-size: 36px; }

.fs-48 {
  font-size: 48px; }

.fs-64 {
  font-size: 64px; }

.fs-0 {
  font-size: 0;
  letter-spacing: -5px; }

.ls-n {
  letter-spacing: normal; }

.fstyle-i {
  font-style: italic; }

.fstyle-n {
  font-style: normal; }

.fstyle-o {
  font-style: oblique; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.w-960 {
  width: 960px; }

.w-1000 {
  width: 1000px; }

.w-1100 {
  width: 1100px; }

.w-1200 {
  width: 1200px; }

.ve-t {
  vertical-align: top; }

.ve-m {
  vertical-align: middle; }

.ve-b {
  vertical-align: bottom; }

.dp-b {
  display: block; }

.dp-ib {
  display: inline-block; }

.dp-n {
  display: none; }

.dp-t {
  display: table; }

.dp-tc {
  display: table-cell; }

.dp-tr {
  display: table-row; }

.dp-ri {
  display: run-in; }

/*flex布局无视float,clear,和vertical-align*/
.dp-f {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex; }

.dp-if {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.dp-it {
  display: inline-table; }

.dp-li {
  display: list-item; }

* {
  box-sizing: border-box; }

/*清除浮动*/
.cl:before, .cl:after {
  content: "";
  display: table;
  font: 0/0 a; }

.cl:after {
  clear: both; }

.c-fff {
  color: #ffffff; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.ps-f {
  position: fixed; }

.ps-a {
  position: absolute; }

.ps-r {
  position: relative; }

.tc {
  text-align: center; }

.tl {
  text-align: left !important; }

.tr {
  text-align: right !important; }

.tj {
  text-align: justify !important; }

.dll-grid {
  position: relative; }

.dll-row {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px; }

.dll-col {
  float: left; }

.dll-col + .dll-col {
  margin-left: 15px; }

.dll-col-1 {
  width: 7.234%; }

.dll-col-2 {
  width: 15.612%; }

.dll-col-3 {
  width: 24.051%; }

.dll-col-4 {
  width: 32.489%; }

.dll-col-5 {
  width: 40.928%; }

.dll-col-6 {
  width: 49.367%; }

.dll-col-7 {
  width: 57.806%; }

.dll-col-8 {
  width: 66.245%; }

.dll-col-9 {
  width: 74.684%; }

.dll-col-10 {
  width: 83.122%; }

.dll-col-11 {
  width: 91.561%; }

.dll-col-12 {
  width: 100%; }

.tips-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 5px; }
  .tips-icon .dialog-warp {
    position: absolute;
    font-size: 12px;
    color: #646464;
    width: 200px;
    line-height: 1.5;
    display: none; }
    .tips-icon .dialog-warp .dialog-box {
      display: inline-block;
      position: relative;
      width: 97%;
      padding: 3%;
      background: #FAFAFA;
      border: 1px solid #c9c9c9;
      box-sizing: border-box;
      border-radius: 8px;
      z-index: 999; }
  .tips-icon .dialog-warp.right {
    top: 50%;
    left: 25px; }
    .tips-icon .dialog-warp.right .dialog-box:before,
    .tips-icon .dialog-warp.right .dialog-box:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      margin-top: -10px; }
    .tips-icon .dialog-warp.right .dialog-box:before {
      left: -10px;
      content: "";
      height: 0;
      width: 0;
      border-right: 10px solid #ccc;
      border-top: 10px dashed transparent;
      border-bottom: 10px dashed transparent; }
    .tips-icon .dialog-warp.right .dialog-box:after {
      left: -8px;
      content: "";
      height: 0;
      width: 0;
      border-right: 10px solid #fff;
      border-top: 10px dashed transparent;
      border-bottom: 10px dashed transparent; }
  .tips-icon .dialog-warp.top {
    bottom: 25px;
    width: 180px;
    margin-left: -79px; }
    .tips-icon .dialog-warp.top .dialog-box:before,
    .tips-icon .dialog-warp.top .dialog-box:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      margin-left: -10px; }
    .tips-icon .dialog-warp.top .dialog-box:before {
      bottom: -10px;
      content: "";
      height: 0;
      width: 0;
      border-top: 10px solid #ccc;
      border-left: 10px dashed transparent;
      border-right: 10px dashed transparent; }
    .tips-icon .dialog-warp.top .dialog-box:after {
      bottom: -8px;
      content: "";
      height: 0;
      width: 0;
      border-top: 10px solid #fff;
      border-left: 10px dashed transparent;
      border-right: 10px dashed transparent; }

.progress-circle-bg {
  width: 130px;
  height: 130px;
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
  .progress-circle-bg canvas {
    position: absolute;
    left: 0;
    top: 0; }
  .progress-circle-bg .progress-circle-txt {
    display: inline-block;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px; }

.layui-right {
  float: right; }

.layui-left {
  float: left; }

/* 头部 */
.layui-header {
  background-color: #393D49;
  height: 60px !important;
  border-bottom: 5px solid #4E5465; }
  .layui-header .layui-nav.nav .layui-nav-item a {
    color: #000;
    font-size: 18px;
    margin-top: 5px; }
  .layui-header .user {
    margin-top: 5px;
    height: 50px;
    padding: 5px;
    position: relative; }
    .layui-header .user img {
      height: 100%;
      margin-top: -5px; }
    .layui-header .user .user-nav {
      position: absolute;
      right: 10px;
      top: 50px;
      width: 100px;
      border: 1px solid #4E5465;
      border-radius: 0;
      display: none;
      background: #ffffff; }
      .layui-header .user .user-nav .user-nav-item a {
        font-size: 12px;
        display: block;
        padding: 10px; }
      .layui-header .user .user-nav .user-nav-item:hover {
        background: #4E5465; }
        .layui-header .user .user-nav .user-nav-item:hover a {
          color: #EEEEEE; }
  .layui-header .user:hover .user-nav {
    display: block; }

/* 侧栏 */
.layui-side .layui-nav {
  border-radius: 0;
  min-height: 100%; }
  .layui-side .layui-nav .layui-nav-item a > label {
    cursor: pointer; }

/* 主体 */
.layui-body {
  top: 60px !important;
  padding: 0 10px;
  bottom: 0 !important; }

/* 对layui的优化 */
.layui-form-switch,
.layui-form-onswitch {
  box-sizing: content-box; }

.layui-tab-card > .layui-tab-title li {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.layui-top-nav .layui-nav .layui-nav-item {
  line-height: 55px !important; }

/*tab*/
#tabContainers iframe {
  width: 100%;
  border: none; }

.layui-tab-card > .layui-tab-title .layui-this {
  background: #009688 !important;
  color: #fff !important; }
  .layui-tab-card > .layui-tab-title .layui-this .layui-tab-close {
    color: #fff; }
  .layui-tab-card > .layui-tab-title .layui-this .layui-tab-close:hover {
    background-color: #FF5722;
    border-radius: 50%; }

/*登录*/
.login-warp {
  width: 100%;
  background: url("../../src/imgs/upload/bg.png") no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .login-warp .login-box {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px; }
  .login-warp .btn-submit {
    width: 190px; }

.user-show {
  background-color: #5bacb6;
  overflow: hidden;
  zoom: 1;
  clear: both;
  width: 100%; }
  .user-show .user-photo {
    position: absolute; }
    .user-show .user-photo img.l {
      width: 64px;
      height: 64px; }
  .user-show .user-info {
    margin-left: 80px; }

.user-detail .table {
  line-height: 1.8; }

.user-detail .table th {
  text-align: right;
  font-weight: 400; }

.user-add .layui-form-label {
  width: 100px; }

table.dataTable {
  border-collapse: separate;
  border-spacing: 0;
  clear: both; }

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right center; }

table.dataTable thead .sorting {
  background-image: url("../imgs/common/sort_both.png"); }

table.dataTable thead .sorting_asc {
  background-image: url("../imgs/common/sort_asc.png"); }

table.dataTable thead .sorting_desc {
  background-image: url("../imgs/common/sort_desc.png"); }

.dataTable td.sorting_1 {
  background-color: #f5fafe; }

.dataTables_wrapper .dataTables_length {
  float: left;
  padding-bottom: 10px; }

.dataTables_wrapper .dataTables_length .select {
  width: 50px; }

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right; }

.dataTables_wrapper .dataTables_filter .input-text {
  width: auto; }

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 10px;
  font-size: 14px;
  color: #666; }

.dataTables_wrapper .dataTables_paginate {
  float: right;
  padding-top: 10px;
  text-align: right; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
  color: #666;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
  margin: 0 0 6px 6px;
  padding: 0 10px;
  font-size: 14px; }

.dataTables_wrapper {
  margin-top: 20px; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #009688;
  color: #fff; }

.table-box {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: separate;
  margin-top: 0;
  border-left: 0; }

.table-box thead th {
  font-size: 15px;
  font-weight: 400;
  border-left: 1px solid #ddd;
  white-space: nowrap;
  line-height: 36px;
  padding: 0 10px 0 3px;
  text-align: center; }

.table-box thead th:first-child {
  padding: 0; }

.table-box tbody td {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 8px 5px;
  font-size: 13px;
  line-height: 20px; }

.table-box tbody tr.odd {
  background-color: #fff; }

.table-box tbody tr.even {
  background-color: #f9f9f9; }

.table-box th,
.table-box td {
  min-width: 35px;
  max-width: 400px; }

.table-box tbody tr:hover {
  background-color: #f5f5f5; }

.table-box th > input[type='checkbox'],
.table-box td > input[type='checkbox'] {
  vertical-align: middle; }

.table-box .td-handle .handle-btn {
  cursor: pointer;
  margin: 0 2px; }

.dataTables_filter input[type="search"] {
  width: 150px;
  margin-left: 5px;
  padding-left: 10px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  line-height: 30px\9; }

.dataTables_length select {
  height: 32px;
  width: 50px;
  border: 1px solid #e6e6e6; }

.dataTables_wrapper .paginate_button.previous,
.dataTables_wrapper .paginate_button.next {
  border: none; }

.dataTables_wrapper .paginate_button.current {
  border: 1px solid #009688; }

.pdut-thumbnail {
  width: 40px; }

.product-add .layui-form-label {
  width: 100px; }

.product-add .layui-form-label + .layui-input-block {
  margin-left: 100px; }

.layui-body .sorts-box {
  width: 150px;
  position: absolute; }

.layui-body .sorts-box + .sorts-table {
  margin-left: 150px; }

/**
  * 备注：所有在css中的图片，都必须以main所在的路径为基准
 */
.oneline {
  overflow: hidden;
  line-height: auto;
  height: auto;
  white-space: nowrap;
  text-overflow: ellipsis; }

.layui-btn.btn-default {
  background-color: #28B779; }

.layui-layer-btn a {
  box-sizing: content-box; }

.layui-layout-admin .layui-side {
  top: 60px !important; }

.btn-add > label {
  font-family: "微软雅黑";
  margin-left: 3px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer; }

.layui-breadcrumb > a {
  padding-right: 8px;
  line-height: 22px;
  font-size: 16px;
  color: #333 !important; }

.handle-box .handle-item {
  margin: 5px 0;
  overflow: hidden; }

.handle-box .handle-item .fr {
  line-height: 38px; }

/*对layui的重写*/
.handle-item .layui-form-label {
  width: auto; }

.table-box .btn-showuser {
  cursor: pointer; }

.layui-page {
  text-align: right; }

.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #999;
  overflow: hidden; }

.label.radius {
  border-radius: 3px; }

.badge {
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 9px; }

.label:empty,
.badge:empty {
  display: none; }

a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.label-default,
.badge-default {
  background-color: #e6e6e6;
  color: #333; }

.label-default[href],
.badge-default[href] {
  background-color: #e6e6e6;
  color: #333; }

.label-primary,
.badge-primary {
  background-color: #5a98de; }

.label-primary[href],
.badge-primary[href] {
  background-color: #5a98de; }

.label-secondary,
.badge-secondary {
  background-color: #3bb4f2; }

.label-secondary[href],
.badge-secondary[href] {
  background-color: #3bb4f2; }

.label-success,
.badge-success {
  background-color: #5eb95e; }

.label-success[href],
.badge-success[href] {
  background-color: #5eb95e; }

.label-warning,
.badge-warning {
  background-color: #f37b1d; }

.label-warning[href],
.badge-warning[href] {
  background-color: #f37b1d; }

.label-danger,
.badge-danger {
  background-color: #dd514c; }

.label-danger[href],
.badge-danger[href] {
  background-color: #dd514c; }

.btn-danger {
  color: #fff;
  background-color: #dd514c;
  border-color: #dd514c; }

/*低分辨率优化css*/
@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .layui-side {
    width: 140px !important; }
  .layui-nav-tree {
    width: 140px !important; }
  .layui-body {
    left: 140px !important; } }

@media only screen and (min-width: 980px) and (max-width: 1366px) {
  .layui-side {
    width: 120px !important; }
  .layui-nav-tree {
    width: 120px !important; }
  .layui-body {
    left: 120px !important; } }

#tabTitle > li:first-child i {
  display: none; }

@font-face {
  font-family: 'linyer';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#linyer") format("svg"); }

.iconfont {
  display: inline-block;
  font-family: 'linyer';
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-text-stroke-width: 0.2px; }

.fly-checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: solid 2px #28B779;
  border-radius: 4px;
  background-clip: padding-box;
  display: inline-block; }
  .fly-checkbox:focus {
    outline: 0 none;
    outline-offset: 0; }
  .fly-checkbox:checked {
    background-color: #28B779;
    border: solid 0 #28B779; }
    .fly-checkbox:checked:before {
      position: absolute;
      display: inline-block;
      right: 50%;
      bottom: 50%;
      -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
      transform: translate(50%, 50%);
      font-family: linyer;
      content: "\e696";
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 600; }
  .fly-checkbox:disabled {
    background-color: #d9d9d9;
    border: solid 1px #d9d9d9; }
    .fly-checkbox:disabled:before {
      position: absolute;
      display: inline-block;
      right: 50%;
      bottom: 50%;
      -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
      transform: translate(50%, 50%);
      font-family: linyer;
      content: "\e696";
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 600; }
  .fly-checkbox.checkbox-green {
    border: solid 2px #5cb85c; }
  .fly-checkbox.checkbox-orange {
    border: solid 2px #f0ad4e; }
  .fly-checkbox.checkbox-green:checked {
    background-color: #5cb85c; }
  .fly-checkbox.checkbox-orange:checked {
    background-color: #f0ad4e; }
  .fly-checkbox.checkbox-s {
    width: 19px;
    height: 19px; }
    .fly-checkbox.checkbox-s:before {
      position: absolute;
      display: inline-block;
      right: 50%;
      bottom: 50%;
      -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
      transform: translate(50%, 50%);
      font-family: linyer;
      content: "\e696";
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 600; }

.icon-i-b{display:inline-block;background-image: url('../imgs/common/sprite.png');background-position: 0px 0px;width:16px;height:16px;}
.icon-i-w{display:inline-block;background-image: url('../imgs/common/sprite.png');background-position: -16px 0px;width:16px;height:16px;}
