//modules 通用模块,组件
@import "base/mixin"; //base   基础相关 
@import "base/base";
@import "base/function";
@import "modules/common"; //common   公共样式
@import "modules/index"; //首页
@import "modules/user"; //用户
@import "modules/datatable";//表格
@import "modules/product";//表格
@import "modules/article";//表格
/**
  * 备注：所有在css中的图片，都必须以main所在的路径为基准
 */
.oneline{
  @include oneline;
}
.layui-btn.btn-default {
  background-color: #28B779;
}
.layui-layer-btn a{
  box-sizing: content-box;
}
.layui-layout-admin .layui-side{
  top: 60px !important;
}
.btn-add>label {
  font-family: "微软雅黑";
  margin-left: 3px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}
.layui-breadcrumb > a {
  padding-right: 8px;
  line-height: 22px;
  font-size: 16px;
  color: #333!important;
}
.handle-box {
  .handle-item {
    margin: 5px 0;
    overflow: hidden;
  }
  .handle-item .fr {
    line-height: 38px;
  }
}
/*对layui的重写*/
.handle-item .layui-form-label {
  width: auto;
}
.table-box .btn-showuser {
  cursor: pointer;
}
.layui-page{
  text-align: right;
}
.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #999;
  overflow: hidden;
}
.label.radius {
  border-radius: 3px;
}
.badge {
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 9px;
}
.label:empty,
.badge:empty {
  display: none;
}
a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label-default,
.badge-default {
  background-color: #e6e6e6;
  color: #333;
}
.label-default[href],
.badge-default[href] {
  background-color: #e6e6e6;
  color: #333;
}
.label-primary,
.badge-primary {
  background-color: #5a98de;
}
.label-primary[href],
.badge-primary[href] {
  background-color: #5a98de;
}
.label-secondary,
.badge-secondary {
  background-color: #3bb4f2;
}
.label-secondary[href],
.badge-secondary[href] {
  background-color: #3bb4f2;
}
.label-success,
.badge-success {
  background-color: #5eb95e;
}
.label-success[href],
.badge-success[href] {
  background-color: #5eb95e;
}
.label-warning,
.badge-warning {
  background-color: #f37b1d;
}
.label-warning[href],
.badge-warning[href] {
  background-color: #f37b1d;
}
.label-danger,
.badge-danger {
  background-color: #dd514c;
}
.label-danger[href],
.badge-danger[href] {
  background-color: #dd514c;
}
.btn-danger {
  color: #fff;
  background-color: #dd514c;
  border-color: #dd514c;
}
/*低分辨率优化css*/
@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .layui-side{
    width: 140px !important;
  }
  .layui-nav-tree{
    width: 140px !important;
  }
  .layui-body{
    left: 140px !important;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1366px) {
  .layui-side{
    width: 120px !important;
  }
  .layui-nav-tree{
    width: 120px !important;
  }
  .layui-body{
    left: 120px !important;
  }
}
#tabTitle>li:first-child i{
  display: none;
}
