//modules 通用模块,组件
//@import "base/normalize";
@import "base/mixin"; //base   基础相关 
@import "base/base";
@import "base/function";
@import "modules/common"; //common   公共样式
@import "modules/index";//首页
/**
  * 备注：所有在css中的图片，都必须以main所在的路径为基准
 */
