.icon-i-b{display:inline-block;background-image: url('../imgs/common/sprite.png');background-position: 0px -56px;width:16px;height:16px;}
.icon-i-w{display:inline-block;background-image: url('../imgs/common/sprite.png');background-position: -16px -56px;width:16px;height:16px;}
.icon-slide-left{display:inline-block;background-image: url('../imgs/common/sprite.png');background-position: 0px 0px;width:56px;height:56px;}
.icon-slide-right{display:inline-block;background-image: url('../imgs/common/sprite.png');background-position: -56px 0px;width:56px;height:56px;}
