@charset "UTF-8";
/*margin*/
.mgauto {
  margin-left: auto !important;
  margin-right: auto !important; }

.mgt-5 {
  margin-top: 5px; }

.mgt-10 {
  margin-top: 10px; }

.mgt-15 {
  margin-top: 15px; }

.mgt-20 {
  margin-top: 20px; }

.mgt-25 {
  margin-top: 25px; }

.mgt-30 {
  margin-top: 30px; }

.mgt-35 {
  margin-top: 35px; }

.mgt-40 {
  margin-top: 40px; }

.mgt-45 {
  margin-top: 45px; }

.mgt-50 {
  margin-top: 50px; }

.mgt-55 {
  margin-top: 55px; }

.mgt-60 {
  margin-top: 60px; }

.mgb-5 {
  margin-bottom: 5px; }

.mgb-10 {
  margin-bottom: 10px; }

.mgb-15 {
  margin-bottom: 15px; }

.mgb-20 {
  margin-bottom: 20px; }

.mgb-25 {
  margin-bottom: 25px; }

.mgb-30 {
  margin-bottom: 30px; }

.mgb-35 {
  margin-bottom: 35px; }

.mgb-40 {
  margin-bottom: 40px; }

.mgb-45 {
  margin-bottom: 45px; }

.mgb-50 {
  margin-bottom: 50px; }

.mgb-55 {
  margin-bottom: 55px; }

.mgb-60 {
  margin-bottom: 60px; }

.mgl-5 {
  margin-left: 5px; }

.mgl-10 {
  margin-left: 10px; }

.mgl-15 {
  margin-left: 15px; }

.mgl-20 {
  margin-left: 20px; }

.mgl-25 {
  margin-left: 25px; }

.mgl-30 {
  margin-left: 30px; }

.mgl-35 {
  margin-left: 35px; }

.mgl-40 {
  margin-left: 40px; }

.mgl-45 {
  margin-left: 45px; }

.mgl-50 {
  margin-left: 50px; }

.mgl-55 {
  margin-left: 55px; }

.mgl-60 {
  margin-left: 60px; }

.mgr-5 {
  margin-right: 5px; }

.mgr-10 {
  margin-right: 10px; }

.mgr-15 {
  margin-right: 15px; }

.mgr-20 {
  margin-right: 20px; }

.mgr-25 {
  margin-right: 25px; }

.mgr-30 {
  margin-right: 30px; }

.mgr-35 {
  margin-right: 35px; }

.mgr-40 {
  margin-right: 40px; }

.mgr-45 {
  margin-right: 45px; }

.mgr-50 {
  margin-right: 50px; }

.mgr-55 {
  margin-right: 55px; }

.mgr-60 {
  margin-right: 60px; }

.pdt-5 {
  padding-top: 5px; }

.pdt-10 {
  padding-top: 10px; }

.pdt-15 {
  padding-top: 15px; }

.pdt-20 {
  padding-top: 20px; }

.pdt-25 {
  padding-top: 25px; }

.pdt-30 {
  padding-top: 30px; }

.pdt-35 {
  padding-top: 35px; }

.pdt-40 {
  padding-top: 40px; }

.pdt-45 {
  padding-top: 45px; }

.pdt-50 {
  padding-top: 50px; }

.pdb-5 {
  padding-bottom: 5px; }

.pdb-10 {
  padding-bottom: 10px; }

.pdb-15 {
  padding-bottom: 15px; }

.pdb-20 {
  padding-bottom: 20px; }

.pdb-25 {
  padding-bottom: 25px; }

.pdb-30 {
  padding-bottom: 30px; }

.pdl-5 {
  padding-left: 5px; }

.pdl-10 {
  padding-left: 10px; }

.pdl-15 {
  padding-left: 15px; }

.pdl-20 {
  padding-left: 20px; }

.pdl-25 {
  padding-left: 25px; }

.pdl-30 {
  padding-left: 30px; }

.pdr-5 {
  padding-right: 5px; }

.pdr-10 {
  padding-right: 10px; }

.pdr-15 {
  padding-right: 15px; }

.pdr-20 {
  padding-right: 20px; }

.pdr-25 {
  padding-right: 25px; }

.pdr-30 {
  padding-right: 30px; }

.pd-5 {
  padding: 5px; }

.pd-10 {
  padding: 10px; }

.pd-15 {
  padding: 15px; }

.pd-20 {
  padding: 20px; }

.pd-25 {
  padding: 25px; }

.pd-30 {
  padding: 30px; }

.pd-40 {
  padding: 40px; }

.pd-50 {
  padding: 50px; }

.bdc {
  border: 1px solid #ccc; }

.bdd {
  border: 1px solid #ddd; }

.bde {
  border: 1px solid #eee; }

.blc {
  border-left: 1px solid #ccc; }

.brc {
  border-right: 1px solid #ccc; }

.btc {
  border-top: 1px solid #ccc; }

.bbc {
  border-bottom: 1px solid #ccc; }

.bld {
  border-left: 1px solid #ddd; }

.brd {
  border-right: 1px solid #ddd; }

.btd {
  border-top: 1px solid #ddd; }

.bbd {
  border-bottom: 1px solid #ddd; }

.ble {
  border-left: 1px solid #eee; }

.bre {
  border-right: 1px solid #eee; }

.bte {
  border-top: 1px solid #eee; }

.bbe {
  border-right: 1px solid #eee; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.fs-16 {
  font-size: 16px; }

.fs-18 {
  font-size: 18px; }

.fs-20 {
  font-size: 20px; }

.fs-22 {
  font-size: 22px; }

.fs-24 {
  font-size: 24px; }

.fs-26 {
  font-size: 26px; }

.fs-28 {
  font-size: 28px; }

.fs-30 {
  font-size: 30px; }

.fs-32 {
  font-size: 32px; }

.fs-36 {
  font-size: 36px; }

.fs-48 {
  font-size: 48px; }

.fs-64 {
  font-size: 64px; }

.fs-0 {
  font-size: 0;
  letter-spacing: -5px; }

.ls-n {
  letter-spacing: normal; }

.fstyle-i {
  font-style: italic; }

.fstyle-n {
  font-style: normal; }

.fstyle-o {
  font-style: oblique; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.w-960 {
  width: 960px; }

.w-1000 {
  width: 1000px; }

.w-1100 {
  width: 1100px; }

.w-1200 {
  width: 1200px; }

.ve-t {
  vertical-align: top; }

.ve-m {
  vertical-align: middle; }

.ve-b {
  vertical-align: bottom; }

.dp-b {
  display: block; }

.dp-ib {
  display: inline-block; }

.dp-n {
  display: none; }

.dp-t {
  display: table; }

.dp-tc {
  display: table-cell; }

.dp-tr {
  display: table-row; }

.dp-ri {
  display: run-in; }

/*flex布局无视float,clear,和vertical-align*/
.dp-f {
  display: -moz-box;
  display: flex;
  display: -webkit-flex; }

.dp-if {
  display: -moz-inline-box;
  display: inline-flex; }

.dp-it {
  display: inline-table; }

.dp-li {
  display: list-item; }

/*清除浮动*/
.cl:before, .cl:after {
  content: "";
  display: table;
  font: 0/0 a; }

.cl:after {
  clear: both; }

.c-fff {
  color: #ffffff; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.ps-f {
  position: fixed; }

.ps-a {
  position: absolute; }

.ps-r {
  position: relative; }

.tc {
  text-align: center; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.tj {
  text-align: justify; }

.dll-grid {
  position: relative; }

.dll-row {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px; }

.dll-col {
  float: left; }

.dll-col + .dll-col {
  margin-left: 15px; }

.dll-col-1 {
  width: 7.234%; }

.dll-col-2 {
  width: 15.612%; }

.dll-col-3 {
  width: 24.051%; }

.dll-col-4 {
  width: 32.489%; }

.dll-col-5 {
  width: 40.928%; }

.dll-col-6 {
  width: 49.367%; }

.dll-col-7 {
  width: 57.806%; }

.dll-col-8 {
  width: 66.245%; }

.dll-col-9 {
  width: 74.684%; }

.dll-col-10 {
  width: 83.122%; }

.dll-col-11 {
  width: 91.561%; }

.dll-col-12 {
  width: 100%; }

.tips-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 5px; }
  .tips-icon .dialog-warp {
    position: absolute;
    font-size: 12px;
    color: #646464;
    width: 200px;
    line-height: 1.5;
    display: none; }
    .tips-icon .dialog-warp .dialog-box {
      display: inline-block;
      position: relative;
      width: 97%;
      padding: 3%;
      background: #FAFAFA;
      border: 1px solid #c9c9c9;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 8px;
      z-index: 999; }
  .tips-icon .dialog-warp.right {
    top: 50%;
    left: 25px; }
    .tips-icon .dialog-warp.right .dialog-box:before,
    .tips-icon .dialog-warp.right .dialog-box:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      margin-top: -10px; }
    .tips-icon .dialog-warp.right .dialog-box:before {
      left: -10px;
      content: "";
      height: 0;
      width: 0;
      border-right: 10px solid #ccc;
      border-top: 10px dashed transparent;
      border-bottom: 10px dashed transparent; }
    .tips-icon .dialog-warp.right .dialog-box:after {
      left: -8px;
      content: "";
      height: 0;
      width: 0;
      border-right: 10px solid #fff;
      border-top: 10px dashed transparent;
      border-bottom: 10px dashed transparent; }
  .tips-icon .dialog-warp.top {
    bottom: 25px;
    width: 180px;
    margin-left: -79px; }
    .tips-icon .dialog-warp.top .dialog-box:before,
    .tips-icon .dialog-warp.top .dialog-box:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      margin-left: -10px; }
    .tips-icon .dialog-warp.top .dialog-box:before {
      bottom: -10px;
      content: "";
      height: 0;
      width: 0;
      border-top: 10px solid #ccc;
      border-left: 10px dashed transparent;
      border-right: 10px dashed transparent; }
    .tips-icon .dialog-warp.top .dialog-box:after {
      bottom: -8px;
      content: "";
      height: 0;
      width: 0;
      border-top: 10px solid #fff;
      border-left: 10px dashed transparent;
      border-right: 10px dashed transparent; }

.jindu-bg {
  width: 130px;
  height: 130px;
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.jindu-bg canvas {
  position: absolute;
  left: 0;
  top: 0; }

.jindu-bg .jindu-txt {
  display: inline-block;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.infinite,
.loading-box {
  animation-iteration-count: infinite; }

.loading-box {
  width: 60px;
  height: 60px;
  background-color: #67CF22;
  animation-fill-mode: both;
  animation-duration: 1.2s;
  animation-name: loading-box;
  animation-timing-function: ease-in-out; }

@keyframes loading-box {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.layui-right {
  float: right; }

.layui-left {
  float: left; }

/* 头部 */
#admin .layui-header {
  background-color: #393D49;
  height: 60px;
  border-bottom: 5px solid #4E5465; }

#admin .layui-header .layui-nav.nav .layui-nav-item a {
  color: #000;
  font-size: 18px;
  margin-top: 5px; }

#admin .layui-header .user {
  margin-top: 5px;
  height: 50px;
  padding: 5px;
  position: relative; }

#admin .layui-header .user .user-avatar {
  margin-right: 20px;
  display: block;
  height: 100%; }

#admin .layui-header .user img {
  height: 100%;
  margin-top: -5px; }

#admin .layui-header .user .user-nav {
  position: absolute;
  right: 0;
  top: 55px;
  width: 100px;
  border: 1px solid #4E5465;
  border-radius: 0;
  display: none;
  background: #ffffff; }

#admin .layui-header .user:hover .user-nav {
  display: block; }

#admin .layui-header .user .user-nav .user-nav-item a {
  font-size: 12px;
  display: block;
  padding: 10px; }

#admin .layui-header .user .user-nav .user-nav-item:hover {
  background: #4E5465; }

#admin .layui-header .user .user-nav .user-nav-item:hover a {
  color: #eeeeee; }

/* 侧栏 */
#admin .layui-side .layui-nav {
  border-radius: 0;
  min-height: 100%; }

/* 主体 */
#admin .layui-body {
  padding: 15px;
  bottom: 0; }

.user-show {
  width: 360px;
  background-color: #5bacb6; }
  .user-show .user-photo {
    display: inline-block;
    overflow: hidden;
    position: absolute; }
  .user-show .user-photo.l {
    width: 64px;
    height: 64px; }
  .user-show .user-info {
    display: inline-block;
    margin-left: 80px; }

.user-detail .table {
  line-height: 1.8; }

.user-detail .table th {
  text-align: right;
  font-weight: 400; }

/**
  * 备注：所有在css中的图片，都必须以main所在的路径为基准
 */
.layui-btn.btn-default {
  background-color: #28B779; }

.btn-add > label {
  font-family: "微软雅黑";
  margin-left: 3px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer; }

.page-tab {
  margin: 10px 0; }

.layui-breadcrumb > a {
  padding-right: 8px;
  line-height: 22px;
  font-size: 16px;
  color: #333 !important; }

.handle-box .handle-item {
  margin: 10px 0;
  overflow: hidden; }

.handle-box .handle-item .fr {
  line-height: 38px; }

/*对layui的重写*/
.handle-item .layui-form-label {
  width: auto; }

.table-box {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: separate;
  margin-top: 20px;
  border-left: 0; }

.table-box tbody td {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.table-box th,
.table-box td {
  padding: 8px 4px;
  line-height: 20px;
  word-break: break-all; }

.table-box tbody tr:nth-child(odd) {
  background-color: #fff; }

.table-box tbody tr:nth-child(even) {
  background-color: #f9f9f9; }

.table-box tbody tr:hover {
  background-color: #f5f5f5; }

.table-box th > input[type='checkbox'],
.table-box td > input[type='checkbox'] {
  vertical-align: middle; }

.table-box tbody tr td:first-child,
.table-box tbody tr td:last-child {
  text-align: center; }

.table-box thead th {
  min-width: 35px;
  font-size: 16px;
  font-weight: 400;
  border-left: 1px solid #ddd; }

.table-box .td-handle .handle-btn {
  cursor: pointer; }

.table-box .td-handle .handle-btn + .handle-btn {
  margin-left: 5px; }

.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #999;
  overflow: hidden; }

.label.radius {
  border-radius: 3px; }

.badge {
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 9px; }

.label:empty,
.badge:empty {
  display: none; }

a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.label-default,
.badge-default {
  background-color: #e6e6e6;
  color: #333; }

.label-default[href],
.badge-default[href] {
  background-color: #e6e6e6;
  color: #333; }

.label-primary,
.badge-primary {
  background-color: #5a98de; }

.label-primary[href],
.badge-primary[href] {
  background-color: #5a98de; }

.label-secondary,
.badge-secondary {
  background-color: #3bb4f2; }

.label-secondary[href],
.badge-secondary[href] {
  background-color: #3bb4f2; }

.label-success,
.badge-success {
  background-color: #5eb95e; }

.label-success[href],
.badge-success[href] {
  background-color: #5eb95e; }

.label-warning,
.badge-warning {
  background-color: #f37b1d; }

.label-warning[href],
.badge-warning[href] {
  background-color: #f37b1d; }

.label-danger,
.badge-danger {
  background-color: #dd514c; }

.label-danger[href],
.badge-danger[href] {
  background-color: #dd514c; }

.btn-danger {
  color: #fff;
  background-color: #dd514c;
  border-color: #dd514c; }

table.dataTable {
  border-collapse: separate;
  border-spacing: 0;
  clear: both; }

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right center; }

table.dataTable thead .sorting {
  background-image: url("../imgs/common/sort_both.png"); }

table.dataTable thead .sorting_asc {
  background-image: url("../imgs/common/sort_asc.png"); }

table.dataTable thead .sorting_desc {
  background-image: url("../imgs/common/sort_desc.png"); }

.dataTable td.sorting_1 {
  background-color: #f5fafe; }

.dataTables_wrapper .dataTables_length {
  float: left;
  padding-bottom: 20px; }

.dataTables_wrapper .dataTables_length .select {
  width: 50px; }

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right; }

.dataTables_wrapper .dataTables_filter .input-text {
  width: auto; }

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 10px;
  font-size: 14px;
  color: #666; }

.dataTables_wrapper .dataTables_paginate {
  float: right;
  padding-top: 10px;
  text-align: right; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
  color: #666;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
  margin: 0 0 6px 6px;
  padding: 0 10px;
  font-size: 14px; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #5a98de;
  color: #fff; }

.icon-i-b{display:inline-block;background-image: url('../imgs/common/sprite.png');background-position: 0px 0px;width:16px;height:16px;}
.icon-i-w{display:inline-block;background-image: url('../imgs/common/sprite.png');background-position: -16px 0px;width:16px;height:16px;}

@media screen and (max-width: 1200px){.qual-content{width:1000px}.qual-content .qual-article{width:900px}.qual-content .qual-article p{width:900px}.qual-content .image-set img{margin-left:53px;margin-right:0;width:260px;margin-bottom:30px}.about-contact{width:965px;margin:0 auto}.about-contact p{width:224px;margin-left:15px}.about-contact .media-invite{margin-left:20px;width:225px}.img-map{margin-top:30px;margin-left:-300px}.operation{width:900px}.operation strong{width:150px;display:block;margin:0 auto 50px}.operation .addr{width:375px;margin-left:150px;height:275px}.operation .qr-code{width:255px;margin-top:-210px;margin-left:530px}.w-choice{width:1000px}.w-choice ul li{width:237px;margin-right:0}.w-choice ul li .w-height-hover{left:39px}.w-choice ul li .w-zheng-hover{left:39px}.w-choice ul li .w-low-hover{left:39px}.w-choice ul li .w-power-hover{left:39px}.w-choice .article{width:1000px}.w-choice .article dd{width:219px}.about-aq-banner{min-width:1000px;background-position:-325px top}.about-aq-f .textdiv{width:530px;margin-right:60px}.about-aq-g .textdiv{width:405px;margin-left:90px}.law-detail{width:900px}.law-detail p{width:460px}.media-detail .article-detail{width:675px}.help-question dl{width:940px;border-right:none;float:none}.help-newbie .step img{width:880px}.help-newbie .tips{margin-left:50px;width:880px}.help-media .importance-news{width:690px}.help-media .importance-news .news-list .news-time{left:520px;top:16px}.help-media .importance-news .news-list .help-text{width:510px;margin-top:0;margin-left:0}.help-media .importance-news .news-list .help-text h3{font-size:14px}.help-media .importance-news .news-list ul li{width:695px}.help-media .importance-news .news-list ul li img{margin-left:0;padding-right:20px}}@media screen and (max-width: 1200px){body{width:100%;min-width:1000px}.w1200{width:1000px}.topbar .inner{width:1000px}.xnav .inner{width:1000px}.xnav ul{padding-left:0}.xnav ul li a{padding:0 24px}.about-nav{width:1000px;margin:35px auto 0}.about-nav dd{width:190px}.about-banner{min-width:1000px}.about-banner img{width:1000px}.ft-info .w-border{width:940px}.ft-info .w-border .address{width:385px}.ft-info .w-border .contact{padding-left:10px}.ft-info .w-border .sitemap{width:139px}.ft-info .w-border .sitemap dl{padding-left:0}.help-banner{min-width:1000px}.help-banner img{width:1000px}.help-nav dd{width:190px}}@media screen and (max-width: 1200px){.prd-w1000{width:868px}.prd-right-slide-bg{width:131px}.prd-right-slide{width:131px}.detail-nav ul li a{width:187px}.product-ins .main{width:810px}.product-ins .main .start .compare dt{width:202px}.product-ins .main .start .compare dd{width:202px}.product-ins .main .wpf .box .specialty li{width:161px}.product-ins .main .wpf .box .risk .r-content p{width:299px}.product-ins .main .wpf .box .risk .p-data dd{width:304px}.product-ins .main .wpf .box .invest img:nth-of-type(1){max-width:564px}.product-ins .main .wpf .box .invest img:nth-of-type(2){max-width:805px}.product-ins .main .pi-safe .s-content .article p{width:660px}.question{width:785px}.question dt{width:785px}.question dd{width:785px}.prd87{height:525px}.prd87 .posi-m{width:380px}.prd87 .prom{display:none}.prd87 .para ul{margin-left:-2px}.prd87 .para li{width:85px;padding-left:10px}.prd87 .para .itred .p2{font-size:25px}.prd87 .para .itblack .p2{line-height:38px}.prd87 .date{font-size:12px}.prd87 .date li{padding-right:10px}.prd87 .info li{width:70%}.prd87 .buy-btn .ipt-sub{width:139px;height:35px;line-height:35px}.prd87 .buy-btn span{line-height:17px}.prd87 .posi-r{height:560px}}@media screen and (max-width: 1200px){.p2f-list{width:685px}.p2f-list-item .p1{text-indent:0;font-size:16px}.p2f-list-item .p2{text-indent:0;font-size:30px}.p2f-list-item .p3{line-height:20px}.p2f-list-item .p4{font-size:15px;top:155px;left:390px}.p2f-list-item strong{font-size:16px;margin-bottom:10px}.p2f-side{width:296px}.btn-x-buy{right:9px;bottom:60px}.side-notice .tab-nav span{width:146px}}@media screen and (max-width: 1200px){.order87 .left{width:275px}.order87 .right{width:722px}}@media screen and (max-width: 1200px){.w-lr-bg{width:1000px}.w-lr-bg .reg-stpe-1{width:1000px;background-position:-65px 0}.w-lr-bg .reg-stpe-1 form{left:0}}@media screen and (max-width: 1200px){.w-lr-bg{width:1000px}.w-lr-bg .register{width:1000px}.w-lr-bg .register form{margin-left:30px}.w-lr-bg .register form .ui-input-box{width:215px}.w-lr-bg .register form .reg-yzm .ui-input-box{width:100px}.w-lr-bg .register form .tel-input{width:100px}.w-lr-bg .register .register-bg-two{background:url("../images/login-register/login.png") no-repeat 280px 40px}.w-lr-bg .register .shadow-left{display:none}.w-lr-bg .register .shadow-right{display:none}}
/**
 * Swiper 3.3.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: February 7, 2016
 */
.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate(0, 0);-ms-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform, height;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform, height}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:0.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:50%;margin-left:-640px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:50%;margin-right:-640px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;transition:0.3s;-webkit-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:0.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0, -50%, 0);-moz-transform:translate3d(0, -50%, 0);-o-transform:translate(0, -50%);-ms-transform:translate3d(0, -50%, 0);transform:translate3d(0, -50%, 0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}.swiper-pagination-progress{background:rgba(0, 0, 0, .25);position:absolute}.swiper-pagination-progress .swiper-pagination-progressbar{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-moz-transform-origin:left top;-ms-transform-origin:left top;-o-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar{-webkit-transform-origin:right top;-moz-transform-origin:right top;-ms-transform-origin:right top;-o-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progress{width:100%;height:4px;left:0;top:0}.swiper-container-vertical>.swiper-pagination-progress{width:4px;height:100%;left:0;top:0}.swiper-pagination-progress.swiper-pagination-white{background:rgba(255, 255, 255, .5)}.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar{background:#fff}.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar{background:#000}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));background-image:-webkit-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:-moz-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:-o-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:-moz-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:-o-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));background-image:-webkit-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:-moz-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:-o-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:-moz-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:-o-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));background-image:linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))}.swiper-container-coverflow .swiper-wrapper,.swiper-container-flip .swiper-wrapper{-ms-perspective:1200px}.swiper-container-cube,.swiper-container-flip{overflow:visible}.swiper-container-cube .swiper-slide,.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-cube .swiper-slide .swiper-slide,.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active,.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-slide{visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:0.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0, 0, 0, .1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0, 0, 0, .5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12, end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12, end) infinite;animation:swiper-preloader-spin 1s steps(12, end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}