.icon-i-b{background-image: url('../imgs/common/sprite.png');background-position: 0px -56px;width:16px;height:16px;}
.icon-i-w{background-image: url('../imgs/common/sprite.png');background-position: -16px -56px;width:16px;height:16px;}
.icon-slide-left{background-image: url('../imgs/common/sprite.png');background-position: 0px 0px;width:56px;height:56px;}
.icon-slide-right{background-image: url('../imgs/common/sprite.png');background-position: -56px 0px;width:56px;height:56px;}
