<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../../src/css/index.css" />
	<link rel="stylesheet" href="../../src/layui/css/layui.css" />
	<title>权限设置</title>
</head>
<body>
	<div class="tab-body">
		<p class="page-tab"> <span class="layui-breadcrumb" lay-separator=">"><a href="">首页</a><a><cite>权限设置</cite></a></span></p>
		<form class="fly-limit" id="limit-box" action="">
			<div class=""></div>
			<div class="fly-limit-box" v-for="limit in limitsAll">
				<div class="fly-limit-box-left">
					<div class="fly-limit-list"><input type="checkbox" name="checkboxs" class="fly-checkbox fly-limit-checkbox-all" lay-skin="primary" v-bind:checked=limit.selected v-bind:id=limit.showId /><label v-bind:for=limit.showId>{{limit.title}}</label></div>
				</div>
				<div class="fly-limit-box-right">
					<div class="fly-limit-list" v-for="child in limit.children"><input type="checkbox" class="fly-checkbox" lay-skin="primary" name="sublist" v-bind:checked=child.selected v-bind:id=child.showId /><label v-bind:for=child.showId>{{child.title}}</label></div>
				</div>
			</div>
		</form>
		<div class="limit-container">
			<ul class="data-list" id="lList">
				<li>第一行选择文字1</li>
				<li>第二行选择文字2</li>
				<li>第三行选择文字3</li>
				<li>第四行选择文字4</li>
				<li>第五行选择文字5</li>
				<li>第六行选择文字6</li>
				<li>第一行选择文字7</li>
				<li>第二行选择文字8</li>
			</ul>
			<div class="button-box"> <button type="button" name="button" id="add">添 加</button> <button type="button" name="button" id="remove">删 除</button> </div>
			<ul class="data-list" id="rList"> </ul>
		</div>
	</div>
	<script src="../../src/layui/layui.js"></script>
	<script src="../../src/js/define/common.js"></script>
	<script src="//cdn.bootcss.com/vue/2.2.4/vue.min.js"></script>
	<script src="../../src/js/define/limit-setting.js"></script>
</body>
</html>