.fly-limit.layui-form {
    .layui-form-item .layui-form-label {
        width: 120px;
    }
    .layui-input-block {
        //padding: 9px 15px;
        font-weight: 400;
    }
    .layui-form-checkbox[lay-skin=primary] i {
        font-weight: 600;
        width: 18px;
    }
    .fly-list{
      width: 120px;
    }
}