.fly-limit {
    .fly-limit-box {
        width: 100%;
        padding: 20px;
        display: table;
        .fly-limit-box-left {
            display: table-cell;
            width: 10%;
            min-width: 150px;
            text-align: right;
            padding-right: 20px;
            vertical-align: top;
            .fly-limit-list {}
        }
        .fly-limit-box-right {
            display: table-cell;
            width: 90%;
            padding: 0 0 0 20px;
            .fly-limit-list {
                float: left;
                width: 120px;
                margin-bottom: 10px;
            }
        }
        .fly-checkbox {}
        .fly-checkbox~label {
            margin-left: 5px;
            line-height: 20px;
            display: inline-block;
            vertical-align: top;
        }
    }
}

.limit-container {
    width: 560px;
    height: 400px;
    padding: 40px 20px;
    background: #fff;
    border-radius: 4px;
}

.limit-container ul.data-list {
    width: 40%;
    height: 100%;
    border: 1px solid #e5e5e5;
    float: left;
}

.limit-container ul.data-list li {
    line-height: 32px;
    padding: 0px 10px;
}

.limit-container ul.data-list li:hover {
    background-color: #C5EFFF;
    color: #252525;
    cursor: pointer;
    font-weight: bold;
}

.limit-container ul.data-list li.selected {
    background-color: #0095E8;
    color: #fff;
}

.button-box {
    float: left;
    width: 19%;
    height: 50%;
    margin-top: 20%;
}

.button-box button {
    background-color: $green;
    border: none;
    color: #fff;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    width: 80%;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}