.user-show {
  background-color: #5bacb6;
  .user-photo {
    display: inline-block;
    overflow: hidden;
    position: relative;
  }
  .user-photo.l {
    width: 64px;
    height: 64px;
  }
  .user-info {
    width: 240px;
    margin-left: 80px;
  }
}
.user-detail {
  .table {
    line-height: 1.8;
  }
  .table th {
    text-align: right;
    font-weight: 400;
  }
}
.layer-iframe {
  width: 320px;
  overflow-x: hidden;
}